body {
  background: rgb(171, 171, 171);
  /* background: #b3e7dc; */

  font-family: 'Noto Serif JP';

  min-height: 100vh;
  flex-direction: column;
  color: black;
}

h1 h2 h3 h4 {
  font-family: 'Shadows Into Light Two';
}

footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 2em auto;
  font-size: .75em;
}

footer p {
  margin: 0em auto;
  padding: 0em;
}

iframe {
  width: 100%;
  min-height: 360px;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}

.content {
  padding: 1em 3em;
  margin: 1.5em auto 0em auto;
  max-width: 40em;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 10px;
}

.content > *:first-child {
  margin-top: 0em;
}

.subtle { color: gray; }
.center-text { text-align: center; }

/** FAQ SECTION **/
.faq {
  color: black;
  /* max-width: 60em; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 1em 1em; */
}

.faqElement {
  border-bottom: solid;
  border-color: gray;
}

.question {
  margin: 0em .5em;
  color: black;
  font-weight: bold;
}

.question:hover {
  cursor: pointer;
}

.answer {
  color: black;
  margin: 0em 1em .5em 1em;
}

/* Header */

/* Header */
.title-img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: inherit;
  min-height: inherit;
  margin: 0 auto;
}


header {
  max-height: min(10vh, 10em);
  min-height: 5em;
  width: 100%;
  margin-bottom: .5vh;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid;
}

.links {
  position: relative;
  display: none;
}

.links a {
  /* font-size: 1.25em; */
  display: block;
}

.thank-you-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.thank-you-grid p {
  margin: .5em;
  padding: 0em;
}

.link-row {
  text-align: center;
  margin: 0em;
  padding: 0em;
}
.link-row a {
  padding: 0px 1em;
}

.grid {
  display: grid;
  width: 100%;
  /* max-width: 20em; */
  margin: 0em auto 1em auto;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}

.separator {
  width: 100%;
  display: block;
  border: solid 1px gray;
  margin: 1em 0em;
}

input[type=checkbox] {
  transform: scale(1.3);
  vertical-align: text-top;
}

.clickable {
  cursor: pointer;
}

.notification {
  color: black;
  max-width: min(50em, 90%);
}

.footer-links a {
  margin: 0em .25em;
}



.form label {
  display: block;
  font-weight: bold;
  margin: 0em 0em .25em 0em;
}

.form label,
.form input,
.form select {
  font-size: 1.25em;
}

.flex {
  display: flex;
  width: 100%;
}
.flex input {
  width: 50%;
}

.large-button {
  padding: .5em 2.5em;
  font-size: 1.25em;
}

.radio label {
  display: inline;
  /* font-size: 1.25em; */
  font-weight: normal;
  margin: 0em 0em 0em .5em;
}

.section {
  display: block;
  margin: 2.5em 0em;
}

.section input[type='checkbox'] {
  display: inline;
  margin-left: .25em;
  margin-right: .25em;
}

.notification {
  background-color: #e6e6e6;
  box-shadow: 0px 0px 5px 2px black;

  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);

  padding: 1em;

  z-index: 10000;

  /* position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; */
}

.notification h2 {
  margin-top: .25em;
}

.notification h1, h2, h3 {
  margin-top: 0em;
  text-align: center;
  border-bottom: solid 1px black;
}

.notification p {
  margin: 0em;
  padding: 0em;
}

/* CSS */
button {
  background-color: #ffffff;
  border-radius: 8px;
  /* border: 1px solid #F082AC; */
  border: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: .25em .5em;
  margin: .5em;
  outline: none;
  box-shadow: 0px 0px 5px 2px #F082AC;
}

button:hover:enabled, button:focus {
  background-color: #F082AC;
}

button:disabled {
  background-color: #606060;
  box-shadow: unset;
}

#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  display: none;
  z-index: 9999;
}

@media only screen and (max-width: 1000px) {
  .content {
    padding: .5em 2vw;
  }
}